In [32]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [33]:
file_path = Path('realtordotcom_core.csv')
core_df = pd.read_csv(file_path)
core_df.head()

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,201905,94506,"danville, ca",NaN,1625049.5,-0.0435,-0.0450,107,0.1630,0.5286,...,-0.0557,2130779,-0.0574,-0.0619,158,0.1449,0.2846,0.4766,-0.0234,-0.2805
1,201905,94970,"stinson beach, ca",*,2695050.0,0.4000,NaN,14,1.3333,NaN,...,-0.6346,2934881,0.7198,0.5007,16,1.6667,3.0000,0.1429,0.1429,-0.1905
2,201905,94086,"sunnyvale, ca",NaN,1499525.0,-0.0003,-0.1122,33,0.0313,0.9412,...,-0.2005,1435102,0.0258,-0.1478,58,-0.0333,0.1600,0.7576,-0.1174,-1.1836
3,201905,94550,"livermore, ca",NaN,936550.0,-0.0037,-0.0578,102,0.1087,0.5938,...,-0.0296,1188688,-0.0206,-0.7592,169,0.1046,0.2071,0.6569,-0.0062,-0.5306
4,201905,95620,"dixon, ca",*,495800.0,0.0092,NaN,36,0.3846,0.0588,...,-0.0852,753834,-0.0191,0.0439,51,0.5455,0.0851,0.4167,0.1474,0.0343

In [34]:
core_df1=core_df[["month_date_yyyymm","postal_code","zip_name","active_listing_count_yy","median_days_on_market_yy","new_listing_count_yy","pending_ratio_yy"]]
core_df1.head()

,month_date_yyyymm,postal_code,zip_name,active_listing_count_yy,median_days_on_market_yy,new_listing_count_yy,pending_ratio_yy
0,201905,94506,"danville, ca",0.5286,0.0580,0.4167,-0.2805
1,201905,94970,"stinson beach, ca",NaN,NaN,1.0000,-0.1905
2,201905,94086,"sunnyvale, ca",0.9412,0.2439,0.0000,-1.1836
3,201905,94550,"livermore, ca",0.5938,0.6061,-0.1667,-0.5306
4,201905,95620,"dixon, ca",0.0588,-0.1739,0.4286,0.0343

In [35]:
core_df2=core_df1.dropna()
core_df2.head()

,month_date_yyyymm,postal_code,zip_name,active_listing_count_yy,median_days_on_market_yy,new_listing_count_yy,pending_ratio_yy
0,201905,94506,"danville, ca",0.5286,0.0580,0.4167,-0.2805
2,201905,94086,"sunnyvale, ca",0.9412,0.2439,0.0000,-1.1836
3,201905,94550,"livermore, ca",0.5938,0.6061,-0.1667,-0.5306
4,201905,95620,"dixon, ca",0.0588,-0.1739,0.4286,0.0343
5,201905,94109,"san francisco, ca",0.1385,0.3294,-0.1111,0.1405

In [36]:
core_df3=core_df2.loc[((core_df2['month_date_yyyymm']==202007) |(core_df2['month_date_yyyymm']==201907) |(core_df2['month_date_yyyymm'] ==201807)
                      | (core_df2['month_date_yyyymm']==201707) |(core_df2['month_date_yyyymm']==201607))]
core_df3.head()

,month_date_yyyymm,postal_code,zip_name,active_listing_count_yy,median_days_on_market_yy,new_listing_count_yy,pending_ratio_yy
1347,201807,94901,"san rafael, ca",0.0204,0.3684,0.4000,-0.0473
1348,201807,94549,"lafayette, ca",-0.0545,0.0233,0.0000,-0.1056
1349,201807,94024,"los altos, ca",0.3636,0.0278,0.0000,-0.6364
1350,201807,94568,"dublin, ca",0.5294,-0.1600,0.4211,-0.5317
1352,201807,94530,"el cerrito, ca",0.1250,-0.0682,-0.2500,0.0463

In [39]:
core_df3['Year']='0'
core_df3.loc[(core_df3['month_date_yyyymm']==201607), 'Year'] = 2016
core_df3.loc[(core_df3['month_date_yyyymm']==201707), 'Year'] = 2017
core_df3.loc[(core_df3['month_date_yyyymm']==201807), 'Year'] = 2018
core_df3.loc[(core_df3['month_date_yyyymm']==201907), 'Year'] = 2019
core_df3.loc[(core_df3['month_date_yyyymm']==202007), 'Year'] = 2020
core_df3.head()

C:\Users\Jane\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jane\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,month_date_yyyymm,postal_code,zip_name,active_listing_count_yy,median_days_on_market_yy,new_listing_count_yy,pending_ratio_yy,Year
1347,201807,94901,"san rafael, ca",0.0204,0.3684,0.4000,-0.0473,2018
1348,201807,94549,"lafayette, ca",-0.0545,0.0233,0.0000,-0.1056,2018
1349,201807,94024,"los altos, ca",0.3636,0.0278,0.0000,-0.6364,2018
1350,201807,94568,"dublin, ca",0.5294,-0.1600,0.4211,-0.5317,2018
1352,201807,94530,"el cerrito, ca",0.1250,-0.0682,-0.2500,0.0463,2018

In [40]:
core_df3.to_csv('core', index=False)

In [41]:
len(core_df3)

492