In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
file_path = Path('zillow_BayArea_ZipCodes.csv')
value_df = pd.read_csv(file_path)
value_df.head()

,regionid,sizerank,regionname,regiontype,statename,state,city,metro,countyname,1/31/1996,...,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020
0,97564,13,94109,Zip,CA,CA,San Francisco,San Francisco-Oakland-Hayward,San Francisco County,328656.0,...,1187876,1199675,1203184,1206697,1204845,1205072,1199464,1192642,1188599,1186661
1,97771,40,94565,Zip,CA,CA,Pittsburg,San Francisco-Oakland-Hayward,Contra Costa County,NaN,...,565022,567631,566696,567253,569358,573486,574099,575338,577656,584991
2,97711,88,94501,Zip,CA,CA,Alameda,San Francisco-Oakland-Hayward,Alameda County,183472.0,...,1047236,1055178,1067691,1076863,1080996,1080102,1076650,1074598,1074008,1081110
3,97565,94,94110,Zip,CA,CA,San Francisco,San Francisco-Oakland-Hayward,San Francisco County,285484.0,...,1604555,1615289,1620314,1623580,1621014,1621355,1616660,1611109,1607900,1612066
4,97764,135,94558,Zip,CA,CA,Napa,Napa,Napa County,182930.0,...,694770,693290,691986,690989,692339,695810,699622,702518,707692,714354

In [3]:
value_df1=value_df[["regionname","city","8/31/1996","8/31/1997","8/31/1998","8/31/1999",
                    "8/31/2000","8/31/2001","8/31/2002","8/31/2003","8/31/2004",
                    "8/31/2005","8/31/2006","8/31/2007","8/31/2008","8/31/2009",
                    "8/31/2010","8/31/2016","8/31/2011","8/31/2012","8/31/2013","8/31/2014",
                    "8/31/2015","8/31/2016","8/31/2017","8/31/2018","8/31/2019","8/31/2020"]]
value_df1.head()

,regionname,city,8/31/1996,8/31/1997,8/31/1998,8/31/1999,8/31/2000,8/31/2001,8/31/2002,8/31/2003,...,8/31/2011,8/31/2012,8/31/2013,8/31/2014,8/31/2015,8/31/2016,8/31/2017,8/31/2018,8/31/2019,8/31/2020
0,94109,San Francisco,326085.0,353934.0,406629.0,471674.0,580761.0,679960.0,645122.0,677438.0,...,735934.0,797920.0,934134.0,979067.0,1116705.0,1089613.0,1134028.0,1196188,1172905,1186661
1,94565,Pittsburg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,287529.0,329455.0,393662.0,435774.0,472300.0,508109.0,528843.0,573886,568129,584991
2,94501,Alameda,179692.0,191751.0,216239.0,236873.0,290329.0,341680.0,362073.0,399552.0,...,472733.0,496718.0,633991.0,682303.0,771039.0,839699.0,906881.0,1015675,1043225,1081110
3,94110,San Francisco,280842.0,316693.0,363648.0,426798.0,539618.0,631868.0,646629.0,675601.0,...,798767.0,873495.0,1048164.0,1225162.0,1394674.0,1395647.0,1482253.0,1632966,1585787,1612066
4,94558,Napa,177248.0,185732.0,200201.0,218762.0,262226.0,312395.0,346277.0,402110.0,...,379944.0,398407.0,485951.0,540970.0,583670.0,627115.0,654739.0,693627,699242,714354

In [4]:
value_df2=value_df1.dropna()

In [11]:
value_df2.dtypes

regionname      int64
city           object
8/31/1996     float64
8/31/1997     float64
8/31/1998     float64
8/31/1999     float64
8/31/2000     float64
8/31/2001     float64
8/31/2002     float64
8/31/2003     float64
8/31/2004     float64
8/31/2005     float64
8/31/2006     float64
8/31/2007     float64
8/31/2008     float64
8/31/2009     float64
8/31/2010     float64
8/31/2016     float64
8/31/2011     float64
8/31/2012     float64
8/31/2013     float64
8/31/2014     float64
8/31/2015     float64
8/31/2016     float64
8/31/2017     float64
8/31/2018       int64
8/31/2019       int64
8/31/2020       int64
202008        float64
201908        float64
201808        float64
dtype: object

In [6]:
value_df2['202008']=value_df2['8/31/2020']/value_df2['8/31/2019']-1
value_df2['201908']=value_df2['8/31/2019']/value_df2['8/31/2018']-1
value_df2['201808']=value_df2['8/31/2018']/value_df2['8/31/2017']-1

C:\Users\Jane\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Jane\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jane\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
value_df2['201708']=value_df2['8/31/2017']/value_df2['8/31/2016']-1
value_df2['201608']=value_df2['8/31/2016']/value_df2['8/31/2015']-1
value_df2['201508']=value_df2['8/31/2015']/value_df2['8/31/2014']-1

TypeError: '<' not supported between instances of 'str' and 'int'