In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [2]:
file_path = Path('Samples\Home_value_sample_redfin.csv')
df = pd.read_csv(file_path)
df.head()

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,...,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY,NASDAQ VALUE CHANGE,Population,Incr_Speed
0,"San Francisco, CA",12-Feb,$649K,0.04,0.04,182.0,0.48,0.43,224.0,0.10,...,-0.39,39.0,-18.0,-16.0,1.00,0.01,0.01,0.06,0.02,high
1,"San Francisco, CA",12-Mar,$725K,0.12,-0.03,211.0,0.16,-0.04,278.0,0.24,...,-0.43,21.0,-18.0,-2.0,1.02,0.02,0.02,0.05,0.02,high
2,"San Francisco, CA",12-Apr,$783K,0.08,0.13,207.0,-0.02,0.03,256.0,-0.08,...,-0.40,15.0,-6.0,-10.0,1.04,0.02,0.04,-0.01,0.02,high
3,"San Francisco, CA",12-May,$760K,-0.03,0.08,235.0,0.14,0.03,244.0,-0.05,...,-0.42,17.0,2.0,-6.0,1.05,0.01,0.06,-0.07,0.02,Decr
4,"San Francisco, CA",12-Jun,$765K,0.01,0.03,263.0,0.12,0.00,231.0,-0.05,...,-0.47,17.0,0.0,-11.0,1.05,0.00,0.05,0.04,0.02,low

In [3]:
df.dropna()
df_update=df.drop(["Homes Sold","Median Sale Price YoY ", "New Listings", "New Listings YoY ","Inventory"," Inventory YoY ", "Days on Market",
                 "Days on Market YoY", "Average Sale To List", "Average Sale To List YoY ","Homes Sold YoY "], axis =1)
df_update.head()

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Homes Sold MoM,New Listings MoM,Inventory MoM,Days on Market MoM,Average Sale To List MoM,NASDAQ VALUE CHANGE,Population,Incr_Speed
0,"San Francisco, CA",12-Feb,$649K,0.04,0.48,0.10,0.06,-18.0,0.01,0.06,0.02,high
1,"San Francisco, CA",12-Mar,$725K,0.12,0.16,0.24,0.05,-18.0,0.02,0.05,0.02,high
2,"San Francisco, CA",12-Apr,$783K,0.08,-0.02,-0.08,0.05,-6.0,0.02,-0.01,0.02,high
3,"San Francisco, CA",12-May,$760K,-0.03,0.14,-0.05,-0.10,2.0,0.01,-0.07,0.02,Decr
4,"San Francisco, CA",12-Jun,$765K,0.01,0.12,-0.05,-0.04,0.0,0.00,0.04,0.02,low

In [4]:
X = df_update.copy()
X = X.drop(["Region", "Month of Period End", "Median Sale Price", "Median Sale Price MoM ","Incr_Speed"],axis=1)

df_update.head()

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Homes Sold MoM,New Listings MoM,Inventory MoM,Days on Market MoM,Average Sale To List MoM,NASDAQ VALUE CHANGE,Population,Incr_Speed
0,"San Francisco, CA",12-Feb,$649K,0.04,0.48,0.10,0.06,-18.0,0.01,0.06,0.02,high
1,"San Francisco, CA",12-Mar,$725K,0.12,0.16,0.24,0.05,-18.0,0.02,0.05,0.02,high
2,"San Francisco, CA",12-Apr,$783K,0.08,-0.02,-0.08,0.05,-6.0,0.02,-0.01,0.02,high
3,"San Francisco, CA",12-May,$760K,-0.03,0.14,-0.05,-0.10,2.0,0.01,-0.07,0.02,Decr
4,"San Francisco, CA",12-Jun,$765K,0.01,0.12,-0.05,-0.04,0.0,0.00,0.04,0.02,low

In [5]:
y = df_update.Incr_Speed

In [6]:
X.dtypes

Homes Sold MoM               float64
New Listings MoM             float64
Inventory MoM                float64
Days on Market MoM           float64
Average Sale To List MoM     float64
NASDAQ VALUE CHANGE          float64
Population                   float64
dtype: object

In [7]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1)

In [8]:

# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)
Counter(y_resampled)

Counter({'high': 58, 'Decr': 58, 'low': 58})

In [9]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [10]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.5124542124542124

In [11]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[11,  4, 11],
       [ 0, 10,  4],
       [ 2,  1,  2]], dtype=int64)

In [12]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       Decr       0.85      0.42      0.89      0.56      0.62      0.36        26
       high       0.67      0.71      0.84      0.69      0.77      0.59        14
        low       0.12      0.40      0.62      0.18      0.50      0.24         5

avg / total       0.71      0.51      0.85      0.56      0.65      0.42        45

In [ ]:
#Conclusion based on sample: Seems good at Decr prediction but need to work on high and low factor. May just predict decr and incr part.